<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue-resource-post</title>
	<style>
		*{margin: 0;padding: 0;}
		#app{width: 800px;margin: 30px auto;}
		table,td{border: 1px solid #ccc;border-collapse: collapse;}
		table{width: 800px;}
		thead{background: green;color: #fff}
		td{line-height: 40px;text-align: center;}
		button{margin: 30px auto;}
	</style>
	<script src="../js/vue.js"></script>
	<script src="../js/vue-resource.js"></script>
</head>
<body>
	<div id="app">
		<table>
			<thead>
				<tr>
					<td v-for="title in titles">{{title}}</td>
				</tr>
			</thead>
			<tbody>
				<!-- <tr v-for="(item,index) in dataList">
					<td>{{index}}</td>
					<td>{{item.companyName}}</td>
					<td>{{item.contactName}}</td>
					<td>{{item.phone}}</td>
				</tr> -->
			</tbody>
		</table>
		<button @click="get">get获取</button>
	</div>
	<script>
		let vm=new Vue({
			el:'#app',
			data:{
				titles:['id', 'name', 'author', 'price','time'],
				dataList:{}
			},
			mounted:function(){
				this.get()
			},
			methods:{
				get(){
					that=this;
					this.$http.get('book.json').then((res)=>{
						this.$set('dataList',res)
						// that.dataList=JSON.parse(res.body);
						console.log(this.dataList)
					})
				}
			}
		})
	</script>
</body>
</html>