<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>angular 的表单验证</title>
	<link rel="stylesheet" href="bootstrap.css" />
	<script src="angular.min.js"></script>
</head>
<body>
	<form ng-app="myApp" ng-controller="formCtrl" class="form" action="" novalidate>
		<div class="form-group">
		<label for="">用户名：</label>
		<input type="text" ng-model="name" />
		</div>
		<div class="form-group">
			<label for="">邮箱：</label>
			<input type="text" ng-model="email" />
		</div>
		<div class="form-group">
		<button class="btn btn-primary">提交</button>
		</div>
	</form>
	<script>
	var app=angular.module("myApp",[]);
	app.controller("formCtrl",function($scope){
		$scope.name="张三";
		$scope.a=123;
		$scope.email="123@qq.com";
		$scope.number=angular.isNumber($scope.a);
		alert($scope.number);
	})
	</script>
</body>
</html>